/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

body {
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.vertical-divider {
  border-left: 1px solid #ddd;
  height: 20px; /* Adjust the height as needed */
}

.horizontal-divider {
  width: 200px; 
  height: auto; 
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.divider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar, .notification-avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid grey; 
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.login-avatar {
  width: 150px;
  height: auto;
}

.loginBtn {
  background-color: #237A88 !important;
}

.notification-avatar img {
  width: auto;
  height: 75%;
  object-fit: cover;
  border-radius: 50%;
}

.create-deals-image {
  width: 25%;
  height: auto;
}

.view-details-btn {
  width: 30%;
  border-radius: 10px;
  border: 1px solid grey !important;
  color: black !important;
}

.view-details-btn:hover {
  width: 30%;
  border-radius: 10px;
  border: 1px solid grey !important;
  color: black;
  opacity: 0.3;
}

.return-dashboard-btn {
  width: 30%;
  border-radius: 10px;
  color: white !important;
  background-color: #237A88 !important;
}

.return-dashboard-btn:hover {
  width: 30%;
  border-radius: 10px;
  color: white !important;
  background-color: #237A88 !important;
  opacity: 0.5;
}

.state-avatar {
  border: none;
}

.submit-deal-btn {
  color: white !important;
  background-color: #237A88 !important;
}

.submit-deal-btn:hover {
  color: white;
  background-color: #237A88;
  opacity: 0.5;
}

.buyer-btn, .seller-btn {
  background-color: #d6d6d6;
  color: white;
  border-radius: 50px !important;
  width: 100px !important;
  padding: 5px 10px;
  font-size: 14px; 
}

.buyer-btn:hover, .seller-btn:hover {
  background-color: #d6d6d6;
  color: white;
  border-radius: 50px !important;
  width: 100px !important;
  padding: 5px 10px;
  font-size: 14px; 
  opacity: 0.3;
}

.buyer-btn:focus, .seller-btn:focus {
  background-color: #237A88;
  color: white;
  border-radius: 50px !important;
  width: 100px !important;
  padding: 5px 10px;
  font-size: 14px; 
}

.form-control-lg {
  font-size: 15px !important;
  background-color: #D6D6D6 !important;
}

.file-drop-area {
  border: 2px dashed #237A88;
  padding: 20px;
  margin: 20px 0;
  cursor: pointer;
  text-align: center;
  color: #237A88;
  background-color: #f4f4f4;
  height: 200px;
  border-radius: 10px;
}

.file-badge {
  display: inline-block;
  margin: 5px;
  padding: 8px;
  background-color: #237A88;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.copy-icon {
  margin-right: 10px;
}

.horizontal-divider:active {
  background-color: #237A88;
}

.state-bar:active {
  background-color: #237A88;
}

.deal-details:active {
  background-color: #237A88;
}